<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dqv5.backstage.dao.SysLogDao">
    <resultMap id="BaseResultMap" type="com.dqv5.backstage.model.BasicUser">
        <id column="user_id" property="userId"/>
        <result column="open_id" property="openId"/>
        <result column="nick_name" property="nickName"/>
        <result column="mod_time" property="modTime"/>
    </resultMap>

    <insert id="save" parameterType="com.dqv5.backstage.model.BasicUser">
        insert into basic_user (open_id,nick_name,mod_time )
        values (#{openId},#{nickName},#{modTime} )
    </insert>
    <insert id="update" parameterType="com.dqv5.backstage.model.BasicUser">
        update basic_user set open_id=#{openId},nick_name=#{nickName},mod_time=#{modTime}
          where user_id = #{userId}
    </insert>
    <select id="getByPrimaryKey" resultMap="BaseResultMap">
        SELECT * FROM basic_user where user_id =#{userId}
    </select>
    <select id="getByOpenId" resultMap="BaseResultMap">
        SELECT * FROM basic_user where open_id =#{openId}
    </select>
    <select id="getAll" resultMap="BaseResultMap">
        SELECT * FROM basic_user order by mod_time desc;
    </select>

</mapper>